/* =================================
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
  background: #fcf3cf;
  color: #3a3a3a;
  margin: 0;
}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #3a3a3a;
}

a:hover {
  color: #f8c471;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 90%;
}

hr {
  width: 98%;
  size: 2px;
  opacity: 0.25;
}

/* =================================
  Contents
==================================== */

.title {
  padding-top: 36px;
  padding-bottom: 9px;
  text-transform: uppercase;
  font-size: 0.9em;
}

.spacing {
  padding: 0 4px;
}

.contact-p {
  padding-bottom: 8px;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.name {
  font-size: 1.3em;
}

.menu li {
  margin: 4px 0;
}

.menu a {
  display: block;
  background: #fef9e7;
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
}

.profile {
  margin-top: 32px;
  width: 65%;
}

.footer-nav {
  display: none;
}

.footer-name {
  float: left;
  font-size: 0.9em;
  font-weight: bold;
  padding-left: 1em;

}

.mobile-nav {
  float: right;
  font-size: 0.875em;
  font-weight: bold;
  padding-right: 1em;
}

/* ---- Layout Containers ---- */

.wrap {
  text-align: center;
}

.portfolio {
  background: #fdf2e9;
  padding-bottom: 36px;
}

.portfolio h2 {
  font-size: 1.1em;
  font-weight: 500;
}

.portfolio img {
  padding-top: 12px;
}

.container,
.portfolio h2,
.portfolio p {
  padding-left: 1em;
  padding-right: 1em;
}

.main-header {
  padding: 1em 0;
}

.main-footer {
  padding-top: 8px;
  padding-bottom: 45px;
}

.contact {
  padding-bottom: 36px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

  .wrap {
    min-height: calc(100vh - 89px);
  }

  .primary {
    width: 50%;
    float: left;
  }

  .secondary {
    width: 50%;
    float: right;
  }

  .profile {
    width: 25%;
    float: right;
    margin-top: 22px;
    margin-bottom: 25px;
    padding-left: 8px;
  }

  .main-header p {
    text-align: left;
  }

  .name,
  .menu li {
    display: inline-block;
  }

  .menu li {
    padding: 0 10px;
  }

  .menu a {
    background: none;
  }

  .mobile-nav {
    display: none;
  }

  .footer-nav {
    float: right;
    display: inherit;
  }

  .footer-nav li {
    display: inline-block;
  }

  .footer-nav a {
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
    padding-right: 1em;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 1024px) {

  .name {
    float: left;
    padding-left: 48px;
  }

  .main-header p {
    padding-top: 56px;
    padding-left: 48px;
  }

  .profile {
    width: 35%;
    position: relative;
    top: 40px;
    left: 260px;
    margin-bottom: 70px;
  }

  .menu ul {
    float: right;
    padding-right: 34px;
  }

  .menu li {
    display: inline-block
    padding-left: 1em;
    padding-right: 1em;
  }

  .col {
    float: left;
    width: 33.333%;
  }

  .contact {
    margin-left: 200px;
    margin-right: 200px;
  }

  hr {
    width: 93%;
  }

  .footer-name {
    padding-left: 48px;
  }

  .footer-nav {
    padding-right: 34px;
  }

}
